* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color:#000000;
    
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #000000;
  
}

.logo-m3-header {
    display: block;
    width: 83px;
    height: 43px;
    
}

.banner-top-desktop {
    display: block;
    width: 100%;
}

.banner-top-mobile {
    display: none;
}

.center-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-description-title-1 {
    
    font-size: 32px;
    line-height: 80px;
    text-transform: uppercase;
    margin-top: 66px;
    margin-bottom: -42px;
   
}

.center-description-title-2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.center-description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 766px;
}

.network-computers {
    display: block;
    margin: 66px 0 186px;
}

.cards-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 414px 80px;
}

.card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-right: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}


.card-center-image {
    display: block;
    margin: 36px 124px 26px;
}

.card-center-description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 26px 28px 26px;
}

.banners-middle {
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    padding: 0 94px;
    margin-bottom: 279px;
    max-width: 100%;
}


.image-banners {
  display: block;
  position: relative;
  top: 142px;
  margin-right: 32px;
}

.image-banners-mobile {
    display: none;
}


.cards-middle {
   margin: 0 72px 138px;  
}

.total-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    max-width: 432px;
    
}

.card-middle-image {
    display: block;
    margin: 36px 164px 14px;
}

.card-middle-description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 26px 28px 26px;
}

.banner-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-bottom-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    margin-bottom: 18px;
}

.banner-bottom-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 684px 32px;
    text-align: center;
    max-width: 550px;
}

.banner-bottom-image {
    max-width: 100%;
}

.banner-bottom-mobile {
    display: none;
}

.footer {
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 128px;
    margin-top: 104px;
}

.icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 0 16px;
}

.footer-icon {
    margin-right: 16px;
}

.footer-information {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}








@media screen and (max-width: 767px) {
   
    .banner-top-desktop {
        display: none;
    }
    .banner-top-mobile {
        display: block;
        max-width: 100%;
    }

    .center-description-title-1 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 54px;
        margin-bottom: -50px;
    }

    .center-description-title-2 {
        font-size: 28px;
        line-height: 80px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 19px;
    }

    .center-description-text {
        max-width: 357px;
        text-align: center;
        margin-bottom: 66px;
    }

    .network-computers {
        display: block;
        margin-bottom: 80px;
        width: 239px;
        height: 239px;
    }

    .cards-center {
        flex-direction: column;
        margin: 0 32px 80px;
    }

    .card-center {
        margin-bottom: 24px;
    }

    .banners-middle {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
        margin-bottom: 279px;
        padding: 0 24px;
    }

    .banner-middle {
        flex: 1 1 140px;
        margin: 0 14px 24px;
        position: relative;
        top: 122px;
    }

    .image-banners {
        display: none;
    }

    .image-banners-mobile {
        display: inherit;
        display: block;
        
    }

    .image-banners-mobile-01 {
        width: 177px;
        max-width: 100%;
            
    }
    
    .image-banners-mobile-02 {
        width: 177px;
        max-width: 100%;
    }

    .image-banners-mobile-03 {
        max-width: 100%;
    }
    
    
    .cards-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 24px 80px;      
    }

    .total-cards {
        display: flex;
        flex-direction: column;
    }
    
    .card-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        width: 100%;
        max-width: 432px;
        margin-bottom: 16px;
        
    }
    
    .card-middle-image {
        display: block;
        margin: 36px 164px 14px;
    }
    
    .card-middle-description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 0 26px 28px 26px;
    }


        
    .banner-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-bottom-title {
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }

    .banner-bottom-description {
        margin: 0px 33px 104px;
        text-align: center;
        max-width: 350px;
    }

    .banner-bottom-image {
        display: none;
    }

    .banner-bottom-mobile {
        display: inherit;
        display: block;
        width: 100%;
        max-width: 414px;
    }

    
    
    

}

@media screen and (min-width:415px) {
    .banner-top-desktop {
        display: block;
        width: 100%;
    }
    
    .banner-top-mobile {
        display: none;
    }
}

@media screen and (min-width: 667px) and (max-width: 768px) {
    .image-banners-mobile-03 {
        max-width: 177px;
         
    }

    .banner-middle {
        
        position: relative;
        top: 82px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    .center-description-title-1 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 54px;
        margin-bottom: -50px;
    }
    
    .center-description-title-2 {
        font-size: 28px;
        line-height: 80px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 19px;
    }
    
    .center-description-text {
        padding: 0 50px 0;
        text-align: center;
        margin-bottom: 27px;
    }
    
    .network-computers {
        display: block;
        margin-bottom: 80px;
        width: 239px;
        height: 239px;
    }

    .cards-center {
        flex-direction: column;
        margin: 0 32px;
        
    }

    .card-center {
        margin-bottom: 24px;
        
    }
    
    .image-banners {
        display: none;
    }

    .image-banners-mobile {
        display: inherit;
        display: block;
        
    }

    .banners-middle {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
        margin-bottom: 279px;
        padding: 0 24px;
    }

    .banner-middle {
        flex: 1 1 140px;
        margin: 0 14px 24px;
        position: relative;
        top: 122px;
    }

    .image-banners {
        display: none;
    }

    .image-banners-mobile {
        display: inherit;
        display: block;
        
    }

    .image-banners-mobile-01 {
        width: 177px;
        max-width: 100%;
            
    }
    
    .image-banners-mobile-02 {
        width: 177px;
        max-width: 100%;
    }

    .image-banners-mobile-03 {
        max-width: 177px;
    }

    .cards-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 24px 80px;      
    }

    .total-cards {
        display: flex;
        flex-direction: column;
    }
    
    .card-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        width: 100%;
        max-width: 432px;
        margin-bottom: 16px;
        
    }
    
    .card-middle-image {
        display: block;
        margin: 36px 164px 14px;
    }
    
    .card-middle-description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 0 26px 28px 26px;
    }


        
    .banner-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-bottom-title {
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }

    .banner-bottom-description {
        margin: 0px 33px 104px;
        text-align: center;
        max-width: 350px;
    }

    .banner-bottom-image {
        display: none;
    }

    .banner-bottom-mobile {
        display: inherit;
        display: block;
        width: 100%;
        max-width: 414px;
    }
    

   

}

@media screen and (min-width: 820px) and (max-width: 1199px) {
    .image-banners-mobile {
        display: none;
    }

    .image-banners {
        display: inherit;
        top: 15px
    }

    .image-banners-desktop {
        max-width: 100%;
        
    }

    .banner-bottom-image {
        display: inherit;
    }
    
    .banner-bottom-image {
        width: 100%;
        max-width: 650px;
        margin-top: 32px;    }
    
    .banner-bottom-mobile {
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1768px) {
    

    .banner-top-desktop {
        display: block;
        max-width: 100%;
    }

    .cards-center{
        display: flex;
        flex-direction: row;
    }

    .card-center {
        
        max-width: 80%;
    }

    .banners-middle {
        background: #E0E0E0;
        display: flex;
        justify-content: center;
        padding: 0 94px;
        margin-bottom: 279px;
        
    }
    
      
    .image-banners-mobile {
        display: none;
    }
    
    .image-banners {
        display: inherit;
        top: 100px;
        width: 100%;
        max-width: 100%;
    }

    .image-banners-desktop {
        width: 80%;
        max-width: 100%;
        
    }

    .cards-middle {
       margin: 0 72px 138px; 
       max-width: 100%; 
    }
    
    .total-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    
    .card-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        max-width: 20%;
        
    }
    
    .card-middle-image {
        display: block;
        margin: 36px 164px 14px;
    }
    
    .card-middle-description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 0 26px 28px 26px;
    }
    
    .banner-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .banner-bottom-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 20px;
        margin-bottom: 18px;
    }
    
    .banner-bottom-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: auto;
        text-align: center;
        max-width: 550px;
    }
    
    .banner-bottom-image {
        display: inherit;
        width: 100%;
        max-width: 650px;
        margin-top: 32px;    }
    
    .banner-bottom-mobile {
        display: none;
    }

}

